<nav class="mac-sidebar" [class.expanded]="isHovered" [class.hide-on-scroll]="hideSidebar">
  <div class="sidebar-inner">
    <ul class="nav-links">
      <li>
        <a href="#home" class="nav-link" title="Home">
          <i class="fas fa-home"></i>
          <span class="link-text">Home</span>
        </a>
      </li>
      <li>
        <a href="#about" class="nav-link" title="About">
          <i class="fas fa-user"></i>
          <span class="link-text">About</span>
        </a>
      </li>
      <li>
        <a href="#skills" class="nav-link" title="Skills">
          <i class="fas fa-code"></i>
          <span class="link-text">Skills</span>
        </a>
      </li>
      <li>
        <a href="#education" class="nav-link" title="Contact">
          <i class="fas fa-user-graduate"></i>
          <span class="link-text">Experience & Education</span>
        </a>
      </li>
      <li>
        <a href="#projects" class="nav-link" title="Projects">
          <i class="fas fa-project-diagram"></i>
          <span class="link-text">Projects</span>
        </a>
      </li>
      <li>
        <a href="#contact" class="nav-link" title="Contact">
          <i class="fas fa-envelope"></i>
          <span class="link-text">Contact</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
