
<app-navbar></app-navbar>
<app-hero id="home"></app-hero>
<main>
  <div class="cosmic-singularity">
    <div class="energy-wave"></div>
    <div class="energy-wave delay-1"></div>
    <div class="particle-field"></div>
  </div>
  
  <app-about id="about"></app-about>
  <app-skills id="skills"></app-skills>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <app-experience-education></app-experience-education>
   <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <app-projects id="projects"></app-projects>
  
</main>
<app-contact id="contact"></app-contact>